* {
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #bf7506;
    margin-left: 24px;
    font-size: 16px;
    line-height: 150%;
}

.nav-link.active {
    font-weight: 700;
}

header {
    display: flex;
    align-items: center;
    margin: 70px 0px;
}

.header-text {
    margin-left: 27px;
}

.header-strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #211b12;
}

.header-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #211b12;
    margin-top: 8px;
    margin-bottom: 24px;
}

.header-prime {
    color: #bf7506;
}

.social-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.social-item {
    padding: 8px;
    display: inline-block;
}

.header-links {
    display: flex;
    align-items: center;
}

.cv-download {
    margin-left: 55px;
    padding: 7px 8px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #bf7506;
    text-decoration: none;
}

.cv-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211b12;
}

.cv-icon {
    margin-left: 4px;
}

.portfolio{
    margin-top: 80px;
}
.section-heading {
    font-weight: 700;
    font-size: 48px;

    /* line-height: 60px; */
    line-height: 1.25;
    letter-spacing: -0.03em;
    color: #bf7506;
}

.cards {
    margin-top: 32px;
    margin-bottom: 116px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card {
    max-width: 400px;
    margin-bottom: 40px;
}

.card-wrapper {
    padding: 16px;
}

.card-title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;

    /* line-height: 32px; */
    line-height: 1.35;
    letter-spacing: -0.02em;
    color: #bf7506;
}

.card-text {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    color: #211b12;
}

.tags-list {
    margin-top: 8px;
    margin-bottom: 16px;
    display: flex;
    list-style: none;
    padding: 0;
    gap: 4px;
}

.tags-item {
    border: 1px solid #dd9c3c;
    border-radius: 4px;
}

.tags {
    padding: 4px 8px;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;

    /* line-height: 18px; */
    line-height: 1.5;
    color: #211b12;
}

.card-buttons {
    margin-top: 17px;
    display: flex;
    align-items: center;
}

.card-button {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 25px;
    border-bottom: 2px solid #bf7506;
    padding: 7px 8px;
}

.card-button-text {
    margin-left: 4px;
    font-weight: 700;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    color: #211b12;
}

.dev {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.dev-photo {
    border: 1px solid #000;
    border-radius: 20px;
    width: 360px;
    height: 440px;
}

.dev-about {
    margin-left: 56px;
}

.dev-hello {
    font-weight: 400;
    font-size: 24px;

    /* line-height: 32px; */
    line-height: 1.35;
    letter-spacing: -0.02em;
    color: #211b12;
}

.dev-title {
    margin: 4px 0px 16px;

    font-weight: 700;
    font-size: 32px;

    /* line-height: 40px; */
    line-height: 1.25;
    letter-spacing: -0.03em;
    color: #bf7506;
}

.dev-text {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
}

.dev-quote {
    margin: 16px 0px;
    font-weight: 400;
    font-size: 24px;

    /* line-height: 36px; */
    line-height: 1.5;
    color: #bf7506;
}

.dev-sign {
    max-width: 200px;
    margin-top: 32px;
}

.skills {
    padding: 20px 0px;
}

.skill-title {
    font-weight: 700;
    font-size: 24px;

    /* line-height: 32px; */
    line-height: 1.35;
    letter-spacing: -0.02em;
}

.feedback {
    padding: 80px 0 160px;
    max-width: 435px;
    width: 100%;
    margin: auto;
}

.feedback-title {
    font-weight: 700;
    font-size: 32px;

    /* line-height: 40px; */
    line-height: 1.25;
    letter-spacing: -0.03em;
    margin-bottom: 16px;
}

.input-group {
    position: relative;
    padding-top: 9px;
    margin-bottom: 24px;
}

.input-label {
    position: absolute;
    padding: 0px 8px;
    background: #fff;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    color: #83807c;
    top: 0;
    left: 16px;
}

.input {
    border: 3px solid #e0dedc;
    border-radius: 4px;
    width: 435px;
    height: 56px;
}

.input-memo {
    border: 3px solid #e0dedc;
    border-radius: 4px;
    width: 435px;
    height: 140px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

.input-button {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;

    width: 132px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #bf7506;
    background: #fff;
    cursor: pointer;
}
