body {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #bf7506;
    margin-left: 24px;
    font-size: 16px;
    line-height: 150%;
}

.nav-link.active {
    font-weight: 700;
}

.header {
    display: flex;
    align-items: center;
    margin: 70px 0px;
}

.header-text {
    margin-left: 27px;
}

.header-strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #211b12;
}

.header-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #211b12;
    margin-top: 8px;
    margin-bottom: 24px;
}

.header-prime {
    color: #bf7506;
}

.social-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.social-item {
    padding: 8px;
    display: inline-block;
}

.header-links {
    display: flex;
    align-items: center;
}

.cv-download {
    margin-left: 55px;
    padding: 7px 8px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #bf7506;
    text-decoration: none;
}

.cv-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211b12;;
}

.cv-icon {
    margin-left: 4px;
}